<html>
    <head>

    </head>
    <body>
        <h1>Add New Item Page</h1>
        <form action="/todos/new" method="POST">
            <label for = 'title'>Enter To-Do Title</label>
            <input type="text">
            <label for="description">Enter Description</label>
            <input type="text">
            <label>Enter Due Date</label>
            <input type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>



      <!-- <label for="say">What greeting do you want to say?</label>
      <input name="say" id="say" value="Hi">
    </div>
    <div>
      <label for="to">Who do you want to say it to?</label>
      <input name="to" id="to" value="Mom">
    </div>
    <div>
      <button>Send my greetings</button>
    </div>
  </form> -->